body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Header Style */
#navbar {
  background: #34495e;
  color: #fff;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 65px;
}

#navbar .main-menu > li {
  display: inline-block;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
}

.logo h1 {
  display: inline;
  font-family: 'Chelsea Market', cursive;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.main-menu li button {
  display: block;
  color: #fff;
  padding: 10px 15px;
  margin: 0px 5px;
  text-align: center;
  background: #34495e;
  border: 0px #34495e;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.main-menu li button:hover {
  color: #41dabb;
}

.main-menu li button:disabled {
  color: gray;
}

.main-menu li button:focus {
  outline: none;
}

.main-menu .mainbtn {
  background-color: #1abc9c;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.main-menu .mainbtn:hover {
  background-color: #4ac2aa;
  color: #fff;
}

.main-menu .mainbtn:disabled {
  color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #34495e;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  width: 200px;
}

.dropdown-content li button {
  display: block;
  padding: 8px 14px;
  font-size: 15px;
  font-weight: normal;
  border-radius: 5px;
}

.dropdown-content li button:hover {
  background: #1abc9c;
  color: #fff;
}

.show {
  display: block;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-top: 5px solid\9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/** Grid Style */
table {
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 0px;
  border: 0px;
  font-variant: normal;
  margin: 30px auto;
  max-width: inherit;
}

td {
  border: 1px solid rgb(175, 216, 248);
  width: 25px;
  height: 25px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.node-start {
  background-image: url(start.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-end {
  background-image: url(finish.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes specialNodes {
  0% {
    transform: scale(0.3);
    /*background-color: darkslategrey;*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(1);
    /*background-color: darkslategrey;*/
  }
}

.node-instant-visited {
  background-color: rgba(0, 190, 218, 0.75);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-instant-shortest-path {
  background-color: rgb(255, 254, 106);
  border-color: rgb(255, 254, 106);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
    border-color: rgb(255, 254, 106);
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
    border-color: rgb(12, 53, 71);
  }
}
